.section-heading__subhead {
  font-weight: 400;
  color: #6b7177;
}
.heading__2 {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'dlig';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 0.8333333333em;
  color: #212326;
  font-size: 1.5em;
  line-height: 1.3333333333;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}