.planContainer {
    margin-top: 150px; 
    padding-left: 250px;
}

.currentPlanColumn {
    background-color: #FBFFF8;
}

.upgradePlanColumn {
    padding-left: 4em !important; 
    padding-right: 4em !important; 
}